@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 50px 128px;
    background-color: #F1F1F3;
    font-family: "Fira Sans";
}

/* Hero section styles */
#hero {
    background-color: #C6E4D6;
    padding: 64px 80px;
    border-radius: 19px;
    height: 320px;
    display: flex;
    gap: 19px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.hero-img {
    width: 400px;
}

.hero-img img {
    width: 100%;
}

.hero-text {
    width: 497px;
}

.hero-text h4 {
    color: rgba(14, 14, 14, 0.50);
    font-size: 19px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
}

.hero-text h2 {
    color: #0E0E0E;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 0px;
}

.hero-text button {
    padding: 14px 27px;
    border-radius: 6px;
    background: #006A50;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

/* Vision section styles */
#vision {
    margin-bottom: 32px;
}

#vision h2 {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

#vision p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 32px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
}

.card {
    border-radius: 13px;
    background: rgba(84, 144, 245, 0.20);
    padding: 25px;
}

.card img {
    width: 52px;
    height: 52px;
}

.card h4 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 16px;
    font-weight: 700;
}

.card p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 13px;
    font-weight: 400;
}

.card button {
    border-radius: 6px;
    background: #5490F5;
    padding: 9px 13px;
    border: none;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
}

/* Recent news section style */
#news h2 {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

#news .news-description {
    color: rgba(14, 14, 14, 0.70);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 32px;
}

.news-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border-radius: 19px;
    background: #FFF;
    margin-bottom: 24px;
}

.news-text {
    width: 595px;
}

.news-text h4 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 12px;
}

.news-text img {
    width: 107px;
    height: 32px;
    margin-bottom: 12px;
}

.time {
    color: rgba(14, 14, 14, 0.70);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 12px;
}

.description {
    color: rgba(14, 14, 14, 0.70);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 32px;
}

.news-text button {
    border-radius: 6px;
    background: #006A50;
    padding: 10px 20px;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}

.news-img {
    width: 326px;
    height: 244px;
}

.news-img img {
    width: 100%;
    height: 100%;
    border-radius: 19px;
}

/* Donate section style */
#Donate {
    margin: 80px 70px;
}

#Donate h2 {
    color: #0E0E0E;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

#Donate p {
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 32px;
}

.amount-container {
    display: flex;
    justify-content: space-between;
    margin: auto 83.2;
    margin-bottom: 32px;
}

.amount {
    border-radius: 13px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    padding: 32px;
}

.amount h4 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 32px;
    font-weight: 700;
}

.amount-input {
    text-align: center;
    margin: 0 30px;
    margin-bottom: 32px;
}

.amount-input input {
    padding: 16px 32px;
    border: none;
    text-align: center;
    background: #FFF;
    width: 91%;
    color: rgba(14, 14, 14, 0.30);
    font-size: 14px;
    font-weight: 400;

}

.donate-btn {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid rgba(14, 14, 14, 0.10);
    background: #006A50;
    padding: 13px 27px;
}

#newsletter {
    background-color: #C6E4D6;
    padding: 64px 80px;
    border-radius: 19px;
    margin-bottom: 80px;
}

#newsletter h2 {
    color: #0E0E0E;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

#newsletter p {
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 24px;
}

.newsletter-input {
    margin-bottom: 24px;
}

.newsletter-input input {
    border-radius: 6px 0px 0px 6px;
    background: #FFF;
    padding: 13px 27px;
    color: rgba(14, 14, 14, 0.30);
    font-size: 14px;
    font-weight: 400;
    border: none;
    width: 480px;
}

.newsletter-input button {
    border-radius: 0px 6px 6px 0px;
    background: #006A50;
    padding: 13px 27px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    border: none;
    margin-left:-3px ;
}